* {
    box-sizing: border-box;
}

div {
    margin: 15px 25px 10px 5px;
    padding: 5px 10px 25px 15px;
    border: 5px solid black;
    display: inline-block;
    height: 300px;
    width: 45%;
}

h1 + div {
    visibility: hidden;
}

div + div:hover {
    border: 5px dashed black;
    cursor: pointer;
}
