/* style cascading 시 우선순위
  1. inline style
  2. id selector
  3. class, :pseudo-class, [attributes]
  4. tag, ::pseudo-elements
  5. universal == *
*/
/* 
  block level = width: 100% 가 기본이라고 생각
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#product-overview {
  background-color: #ff1b68;
  height: 528px;
}

.section-title {
  color: #2ddf5c;
}

h1 {
  color: #fff;
  font-family: 'Anton', sans-serif;
}
